.info-form-container {
    box-sizing: border-box;
    height: 100vh;
  }
  
  .header {
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  .banner {
    padding: 0 0 0 0;
    height: 80px;
    background-color: #2c2c2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 28px;
      font-weight: 500;
      z-index: 1;
    }
    i {
      top: 30px;
      position: absolute;
      padding-left: 15px;
      font-size: 28px;
      color: var(--red);
      z-index: 3;
    }
    button {
      padding-right: 15px;
      z-index: 2;
    }
  }
  
  h2 {
    text-align: center;
  }
  
  .all {
    padding: 80px 30px 0 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-05);
    border-radius: 8px;
    margin-top: 43px;
    hr {
      padding: 0;
      margin: 0;
      width: 100%;
      border-color: var(--dark-01);
      border-bottom: 20px;
    }
  }
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    text-justify: auto;
    border-radius: 8px;
    padding: 0 13px 0 13px;
    input {
      background: var(--dark-05);
      font-size: 14px;
      font-weight: 100;
      margin: 0 12px 0 12px;
      width: 10px;
      width: 50%;
      border: none;
      outline: none;
      color: var(--white);
      height: 100%;
    }
    label {
      color: var(--white);
      width: 50%;
      flex-grow: 1;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  
  button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #545458;
    font-weight: 700;
  }
  
  .active {
    color: var(--red);
  }
  